<h1>About Me</h1>
<p>I was born in a cross-fire hurricane</<p>
<p>And I howled at the morning driving rain</<p>
<p>But it's all right now, in fact, it's a gas</<p>
<p>But it's all right. I'm Jumpin' Jack Flash</<p>
<p><i>It's a gas, gas, gas</i></<p>
<p>I was raised by a toothless, bearded hag,</<p>
<p>I was schooled with a strap right across my back</<p>
<p>But it's all right now, in fact, it's a gas</<p>
<p>But it's all right, I'm Jumpin' Jack Flash</<p>
<p><i>It's a gas, gas, gas</i></<p>
<p>I was drowned, I was washed up and left for dead</<p>
<p>I fell down to my feet and I saw they bled , yeah yeah</<p>
<p>I frowned at the crumbs of a crust of bread</<p>
<p><i>Yeah, yeah, yeah</i></<p>
<p>I was crowned with a spike right through my head</<p>
<p>But it's all right now, in fact, it's a gas</<p>
<p>But it's all right, I'm Jumpin' Jack Flash</<p>
<p><i>It's a gas, gas, gas</<p>
<p>Jumping Jack Flash, its a gas</<p>
<p>Jumping Jack Flash, its a gas</<p>
<p>Jumping Jack Flash, its a gas</<p>
<p>Jumping Jack Flash, its a gas</<p>
<p>Jumping Jack Flash, its a gas</<p>
<p>Jumping Jack Flash, its a gas</i></<p>
